.sc-table-header {
  background: static_url('resources/table_header_background_3.png') center left !important;
  border-bottom: 1px solid #CACACA;
}

.sc-table-header .sc-table-cell {
  overflow: visible !important;
}

.sc-table-header label {
  display: block;
  font-family: Helvetica !important;
  line-height: 26px !important;
  font-weight: normal;
  color: #363636 !important;
  overflow: hidden;
  text-overflow: ellipsis;
  height: auto !important;
  margin: 0px !important;
}

  .sc-table-header .sc-thumb-view {
    z-index: 3 !important;
    overflow: visible;
    background: static_url('resources/grippy2.png') 6px center no-repeat !important;
  }

    .sc-table-header .sc-thumb-view:hover, .sc-table-header .sc-thumb-view.dragging {
      background: static_url('resources/grippy.png') 6px center no-repeat !important;
    }

    .sc-table-header .dragger {
      position: absolute;
      top: 0px;
      right: -2px;
      width: 0px;
      bottom: 0px;
      border-right: 1px solid rgba(255, 255, 255, .5);
      border-left: 1px solid rgba(0, 0, 0, .1);
    }
    
    .sc-table-header .dragging .dagger {
      display: none !important;
    }
    
.sc-table-data-view .sc-dataview-row.odd {
/*  background-color: #f6fafe !important;*/
  background-color: #f9fafb !important;
}


.sc-table-data-view .sc-dataview-row.sel {


/*  background-color: #38a0f0 !important;*/
  background-color: #72bdf7 !important;
/*  background-color: #84c1f0 !important;*/
  border-bottom: 1px solid #5ab5fb !important;
  border-bottom: 1px solid white !important;
  color: white !important;
}

.sc-table-data-view .sc-dataview-row.sel .sc-label-view {
/*  background-color: #6aabe3 !important;*/
  color: white !important;
  font-weight: bold !important;
}






/*.sc-table-data-view .table-cell {*/
/*  border-right: 1px solid rgba(0, 0, 0, .05);*/
/*background-color: white;*/
/*}*/

.sc-table-data-view .sc-dataview-row {
  background-color: white;
}

.sc-table-data-view .sc-dataview-row.sel .table-cell {
  border-right: none !important;
}

.sc-table-data-view .table-cell .sc-label-view {
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: Helvetica;
  font-size: 12px !important;
  line-height: 30px !important;
  
  color: #404040;
}

.sc-table-data-view .sc-label-view.column-1 {
  font-weight: bold !important;
}

.sc-table-data-view .sc-dataview-row {
  border-bottom: 1px solid rgba(0, 0, 0, .07);
}

.sc-table-data-view .odd.sc-dataview-row {
  border-bottom: 1px solid rgba(0, 0, 0, .05);
}


.sc-table-data-view .odd {
/*  background-color: #f9fafb !important;*/
}