/*
.sc-table-header {
  background: static_url('resources/table_header_background.png') !important;
}

.sc-table-header .sc-table-cell {
  overflow: visible !important;
}

.sc-table-header .sc-table-cell {
}

.sc-table-header label {
  font-family: Helvetica !important;
  line-height: 30px !important;
  font-weight: normal;
  color: #363636;
}

.sc-thumb-view {
  z-index: 3 !important;
  overflow: visible;
}

.dragger {
  position: absolute;
  top: 0px;
  right: -3px;
  width: 0px;
  bottom: 0px;
  border-right: 1px solid rgba(255, 255, 255, .5);
  border-left: 1px solid rgba(0, 0, 0, .1);
}*/