/* =============================================================================
   Standard controls (from twitter.github.com/bootstrap
   ========================================================================== */

body, button, input, select, textarea {
    background-color: #ffffff;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #404040;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
cite,
code,
del,
dfn,
em,
img,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dd,
dl,
dt,
li,
ol,
ul,
fieldset,
form,
label,
legend,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  line-height: 1;
  font-family: inherit;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ol, ul {
  list-style: none;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}
html {
  overflow-y: scroll;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a, a:visited {
  color: #0069d6;
  text-decoration: none;
  line-height: inherit;
  font-weight: inherit;
}
a:hover {
  color: #0050a3;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
button,
input,
select,
textarea {
  font-size: 13px;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button, input {
  line-height: normal;
  *overflow: visible;
}
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Typography.less
 * Headings, body text, lists, code, and more for a versatile and durable typography system
 * ---------------------------------------------------------------------------------------- */
p {
  font-weight: normal;
  line-height: 18px;
  margin-bottom: 9px;
}
p small {
  font-size: 11px;
  color: #bfbfbf;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  color: #404040;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  color: #bfbfbf;
}
h1 {
  margin-bottom: 18px;
  font-size: 30px;
  line-height: 36px;
}
h1 small {
  font-size: 18px;
}
h2 {
  font-size: 24px;
  line-height: 36px;
}
h2 small {
  font-size: 14px;
}
h3,
h4,
h5,
h6 {
  line-height: 36px;
}
h3 {
  font-size: 18px;
}
h3 small {
  font-size: 14px;
}
h4 {
  font-size: 16px;
}
h4 small {
  font-size: 12px;
}
h5 {
  font-size: 14px;
}
ul, ol {
  margin: 0 0 18px 25px;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}
li {
  line-height: 18px;
  color: #808080;
}
ul.unstyled {
  list-style: none;
  margin-left: 0;
}
dl {
  margin-bottom: 18px;
}
dl dt, dl dd {
  line-height: 18px;
}
dl dt {
  font-weight: bold;
}
dl dd {
  margin-left: 9px;
}
hr {
  margin: 0 0 19px;
  border: 0;
  border-bottom: 1px solid #eee;
}
strong {
  font-style: inherit;
  font-weight: bold;
  line-height: inherit;
}
em {
  font-style: italic;
  font-weight: inherit;
  line-height: inherit;
}
.muted {
  color: #bfbfbf;
}
blockquote {
  margin-bottom: 18px;
  border-left: 5px solid #eee;
  padding-left: 15px;
}
blockquote p {
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  margin-bottom: 0;
}
blockquote small {
  display: block;
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  color: #bfbfbf;
}
blockquote small:before {
  content: '\2014 \00A0';
}
address {
  display: block;
  line-height: 18px;
  margin-bottom: 18px;
}
code, pre {
  padding: 0 3px 2px;
  font-family: Monaco, Andale Mono, Courier New, monospace;
  font-size: 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
code {
  background-color: #fee9cc;
  color: rgba(0, 0, 0, 0.75);
  padding: 1px 3px;
}
pre {
  background-color: #f5f5f5;
  display: block;
  padding: 17px;
  margin: 0 0 18px;
  line-height: 18px;
  font-size: 12px;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
/* Forms.less
 * Base styles for various input types, form layouts, and states
 * ------------------------------------------------------------- */
input[type=checkbox], input[type=radio] {
  cursor: pointer;
}
input[type=text],
input[type=password],
textarea,
select {
  display: inline-block;
  width: 210px;
  padding: 4px;
  font-size: 13px;
  line-height: 18px;
  height: 18px;
  color: #505050;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
select, input[type=file] {
  height: 27px;
  line-height: 27px;
}
textarea {
  height: auto;
}
:-moz-placeholder {
  color: #bfbfbf;
}
::-webkit-input-placeholder {
  color: #bfbfbf;
}

input[type=text], input[type=password], select, textarea {
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
input[type=text]:focus, input[type=password]:focus, textarea:focus {
  outline: none;
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
}
select {
    padding: 4px 4px;
}

.ui-button {
    font-weight: normal;
}
.ui-button.ui-state-default {
  cursor: pointer;
  display: inline-block;
  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(0.25, #ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 0.25, #e6e6e6);
  background-image: -moz-linear-gradient(#ffffff, #ffffff 0.25, #e6e6e6);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 0.25, #e6e6e6);
  background-image: -o-linear-gradient(#ffffff, #ffffff 0.25, #e6e6e6);
  background-image: linear-gradient(#ffffff, #ffffff 0.25, #e6e6e6);
  padding: 0px 14px 0px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  color: #333;
  line-height: normal;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  transition: 0.1s linear all;
}
.ui-button.ui-priority-primary {
  color: #fff;
  background-color: #0064cd;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd));
  background-image: -moz-linear-gradient(top, #049cdb, #0064cd);
  background-image: -ms-linear-gradient(top, #049cdb, #0064cd);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd));
  background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
  background-image: -o-linear-gradient(top, #049cdb, #0064cd);
  background-image: linear-gradient(top, #049cdb, #0064cd);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #0064cd #0064cd #003f81;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.ui-button.ui-state-error {
  background-color: #c43c35;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
  background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee5f5b), color-stop(100%, #c43c35));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: linear-gradient(top, #ee5f5b, #c43c35);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #c43c35 #c43c35 #882a25;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.ui-state-error {
  background-image: none;
  background-color: #fddfde;
  border-color: #fbc7c6;
  color: #404040;
}
.ui-state-highlight {
  background-image: none;
  background-color: #fdf5d9;
  border-color: #fceec1;
}
.container {
    width: 940px;
    margin: 0 auto;
}

/* =============================================================================
   Login Page
   ========================================================================== */
body.login {
    position: absolute;
    left: 50%;
    margin-left: -175px;
    width: 350px;
}
.login .titleBar {
    margin-top: 200px;
    background-color: #222;
    border: solid 1px #222;
    color: #FFFFFF;
    font-size: 1.5em;
    font-weight: normal;
    padding: 8px 18px;
}
.login .contentBar {
    background-color: #DDF4FB;
    border: solid 1px #C6EDF9;
    border-top: none;
    overflow: hidden;
    padding: 20px;
}
.login .contentBar .field {
    margin: 4px 0px 16px 0px;
}
.login .contentBar label {
    padding-bottom: 4px;
}
.login .contentBar input {
    width: 300px;
}
.login .contentBar .error {
    padding:  0.7em;
    margin-bottom: 16px;
}
.login .buttonBar {
    padding-top: 8px;
}

/* =============================================================================
   Standard Headers, Content and Footers
   ========================================================================= */
.headerBar {
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  overflow: visible;
}
.headerBar .fill {
  background: #222;
  background-color: #222222;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#333333), to(#222222));
  background-image: -moz-linear-gradient(top, #333333, #222222);
  background-image: -ms-linear-gradient(top, #333333, #222222);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(100%, #222222));
  background-image: -webkit-linear-gradient(top, #333333, #222222);
  background-image: -o-linear-gradient(top, #333333, #222222);
  background-image: linear-gradient(top, #333333, #222222);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}
.headerBar a {
  color: #ccc;
}
.headerBar h3 {
  color: #fff;
  position: relative;
}
.headerBar h3 a {
  float: left;
  display: block;
  padding: 13px 30px 12px 0px;
  font-size: 22px;
  font-weight: 200;
  line-height: 1;
  color: #fff;
}
.headerBar h3 a:hover {
  background-color: #444;
}
.headerBar ul {
  display: block;
  float: left;
  margin: 0 10px 0 0;
  position: relative;
}
.headerBar ul.secondary-nav {
  float: right;
  margin-left: 10px;
  margin-right: 0;
}
.headerBar ul li {
  display: block;
  float: left;
}
.headerBar ul li a {
  display: block;
  float: none;
  padding: 17px 10px 11px;
  line-height: 19px;
  text-decoration: none;
}
.headerBar ul li a.selected {
    color: #FDF5D9;
    font-weight: bold;
}
.headerBar ul li a:hover {
  background-color: #444;
  color: #fff;
}
.headerBar ul.primary-nav li ul {
  left: 0;
}
.headerBar ul.secondary-nav li ul {
  right: 0;
}
.headerBar ul li.menu {
  position: relative;
}
.headerBar ul li.menu a.menu:after {
  width: 0px;
  height: 0px;
  display: inline-block;
  content: "&darr;";
  text-indent: -99999px;
  vertical-align: top;
  margin-top: 8px;
  margin-left: 4px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #fff;
  filter: alpha(opacity=50);
  -khtml-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}
.headerBar ul li.menu.open a.menu, .topbar ul li.menu.open a:hover {
  background-color: #444;
  background-color: rgba(255, 255, 255, 0.1);
  *background-color: #444;
  /* IE6-7 */

  color: #fff;
}
.headerBar ul li.menu.open ul {
  display: block;
}
.headerBar ul li.menu.open ul li a {
  background-color: transparent;
  font-weight: normal;
}
.topbar ul li.menu.open ul li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  *background-color: #444;
  /* IE6-7 */

  color: #fff;
}
.headerBar ul li.menu.open ul li.active a {
  background-color: rgba(255, 255, 255, 0.1);
  font-weight: bold;
}
.headerBar ul li ul {
  background-color: #333;
  float: left;
  display: none;
  position: absolute;
  top: 46px;
  min-width: 160px;
  max-width: 220px;
  _width: 160px;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  text-align: left;
  border: 0;
  zoom: 1;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
.headerBar ul li ul li {
  float: none;
  clear: both;
  display: block;
  background: none;
  font-size: 12px;
}
.headerBar ul li ul li a {
  display: block;
  padding: 6px 15px;
  clear: both;
  font-weight: normal;
  line-height: 19px;
  color: #bbb;
}
.headerBar ul li ul li a:hover {
  background-color: #333;
  background-color: rgba(255, 255, 255, 0.25);
  color: #fff;
}
.headerBar ul li ul li.divider {
  height: 1px;
  overflow: hidden;
  background: #222;
  background: rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin: 5px 0;
}
.headerBar ul li ul li span {
  clear: both;
  display: block;
  background: rgba(0, 0, 0, 0.2);
  padding: 6px 15px;
  cursor: default;
  color: #808080;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.content {
  margin-top: 70px;
  padding-bottom: 20px;
}

.content h1 {
    border-bottom: 1px solid #eee;
}

.footerBar {
  margin-top: 32px;
  padding-top: 17px;
  border-top: 1px solid #eee;
}

.field {
    float: left;
    display: inline;
    margin-right: 10px;
}

.field label {
    float: none;
    font-weight: bold;
    line-height: 20px;
}


/* =============================================================================
   Index Page
   ============================================================================= */
#indexContent .welcome {
    background-color: whiteSmoke;
    padding: 60px;
}


/* =============================================================================
   Stream Page
   ============================================================================= */
.criteria {
    background-color: #DDF4FB;
    border: solid 1px #C6EDF9;
    padding: 20px;
}
#streamContent #repositoryData {
    width: 200px;
}
#streamContent #severityData {
    width: 110px;
}
#streamContent #actionButton, #streamContent #clearButton {
    float: left;
    display: inline;
    margin-right: 10px;
    margin-top: 20px;
    padding: 0px 14px;
}
#streamContent #actionButton2, #streamContent #clearButton2 {
    display: inline;
    padding: 0px 14px;
}
#streamContent button span {
    padding: 3px 1em;
}
#streamContent #errorMessage {
    clear: both;
    padding:  0.7em;
    margin-top: 32px;
    margin-bottom: 1em;
}
#results {
    margin-top: 32px;
    border-top: solid 1px #ddd;
}
#results .logEntry {
    display: table;
    padding: 8px 8px;
    width: 100%;
    border-bottom: solid 1px #ddd;
}
#results .logEntry:nth-child(odd) {
    background-color: whitesmoke;
}
#results .logEntry .row {
    display: table-row;
}
#results .logEntry .row .left {
    display: table-cell;
    width: 175px;
    color: #777;
}
#results .logEntry .row .right {
    display: table-cell;
    word-wrap: break-word;
}
#results .logEntry .row .rightFooter {
    padding-top: 6px;
}
#results .logEntry .row .rightFooter .severity {
    width: 120px;
    display: inline-block;
    overflow: hidden;
}
#results .logEntry .row .rightFooter .severity.ui-state-error {
    text-align: center;
}
#results .logEntry .row .rightFooter .severity.ui-state-highlight {
    text-align: center;
}
#results .logEntry .row .rightFooter .host {
    min-width: 100px;
    display: inline-block;
    overflow: hidden;
}
#results .logEntry .row .rightFooter .divider {
    padding: 0px 16px;
    display: inline-block;
    color: #777;
}
#results .logEntry .row .rightFooter .label {
    color: #777;
    display: inline-block;
}

#streamContent #bottomBar {
    margin-top: 32px;
}

/* =============================================================================
   Search Page
   ========================================================================= */
#searchContent .criteria {
    background-color: #DDF4FB;
    border: solid 1px #C6EDF9;
    padding: 20px;
}
#searchContent .criteria .field {
    padding-bottom: 8px;
}
#searchContent #repositoryData {
    width: 230px;
}
#searchContent #timespanData {
    width: 110px;
}
#searchContent #severityData {
    width: 110px;
}
#searchContent #keywordsData {
    width: 380px;
}
#searchContent #fromDateData {
    width: 100px;
}
#searchContent #fromTimeData {
    width: 100px;
}
#searchContent #toDateData {
    width: 100px;
}
#searchContent #toTimeData {
    width: 100px;
}
#searchContent #sourceData {
    width: 180px;
}
#searchContent #hostData {
    width: 180px;
}
#searchContent #conditionData {
    width: 860px;
    height: 5em;
}
#searchContent #searchButton, #searchContent #advancedButton {
    float: left;
    display: inline;
    margin-right: 10px;
    margin-top: 10px;
    padding: 0px 14px;
}
#searchContent button span {
    padding: 3px 1em;
}
#searchContent #errorMessage {
    clear: both;
    padding:  0.7em;
    margin-top: 32px;
    margin-bottom: 1em;
}
#searchContent #noRowsMessage {
    clear: both;
    margin-top: 32px;
    padding:  20px;
    margin-bottom: 1em;
}
#searchContent #bottomBar {
    text-align: right;
    margin-top: 32px;
}
