
/* =============================================================================
   Common to all pages
   ========================================================================= */
.content {
    margin-top: 60px;
    padding-bottom: 30px;
}

.form-stacked {
    padding-left: 0px;
}

.form-stacked .floating {
    float: left;
    margin-right: 8px;
}
.form-stacked .floating div.input {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0;
}

select {
    background-color: #fff;
}
input[type="text"]:disabled, textarea:disabled, select:disabled {
  background: #f5f5f5;
}

input[type="text"], input[type="password"], textarea, select, .uneditable-input {
    color: #404040;
}

.topbar ul li a.selected {
    color: gold;
}
.topbar a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

footer {
    padding-top: 8px;
}

.help-inline, .help-block {
    color: gray;
}

form.section {
}
form.section h2 {
    font-size: 18px;
    font-weight: bold;
    border-bottom: solid 1px #404040;
}
form.section .alert-message {
    margin-top: 10px;
    margin-bottom: 0px;
}
form.section .actions {
    background-color: #fff;
    border:  none;
    padding-top:  0px;
}

form.section .alert-message.block-message.success.inline {
    padding: 7px 14px;
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
}
form.section .alert-message.block-message.error.inline {
    padding: 7px 14px;
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* =============================================================================
   Login Page
   ========================================================================== */
body.login {
    position: absolute;
    left: 50%;
    margin-left: -175px;
    width: 350px;
}
.login .titleBar {
    margin-top: 200px;
    background-color: #222;
    border: solid 1px #222;
    color: #FFFFFF;
    font-size: 1.5em;
    font-weight: normal;
    padding: 8px 30px;
}
.login .contentBar {
    background-color: #DDF4FB;
    border: solid 1px #C6EDF9;
    border-top: none;
    overflow: hidden;
    padding: 30px;
}
.login .contentBar .error {
    padding:  0.7em;
    margin-bottom: 16px;
}
.login .buttonBar {
    padding-top: 16px;
}


/* =============================================================================
   Index Page
   ============================================================================= */
#indexContent .welcome {
    background-color: whiteSmoke;
    padding: 60px;
}

/* =============================================================================
   Log Entry results used for stream and search
   ============================================================================= */
#results {
    margin-top: 32px;
}
#results .heading {
    background-color: #404040;
    color: #fff;
    font-weight:  bold;
    padding: 8px 8px;;
}
#results .logEntry {
    display: table;
    padding: 8px 8px;
    width: 100%;
    border-bottom: solid 1px #ddd;
}
#results > .logEntry:nth-child(odd) {
    background-color: whitesmoke;   /* zebra stripe the css3 way */
}
#results .logEntry:hover {
    background-color: gold;
}
#results .logEntry .row {
    display: table-row;
}
#results .logEntry .row .left {
    display: table-cell;
    width: 175px;
    color: #777;
}
#results .logEntry .row .right {
    display: table-cell;
    word-wrap: break-word;
    color: #404040;
}
#results .logEntry .row .rightFooter {
    padding-top: 6px;
}
#results .logEntry .row .rightFooter .severity {
    width: 120px;
    display: inline-block;
    overflow: hidden;
    padding: 2px;
    margin-bottom: 0px;
}
#results .logEntry .row .rightFooter .severity.error {
    text-align: center;
}
#results .logEntry .row .rightFooter .severity.warning {
    text-align: center;
    border-color: rgba(0, 0, 0, 0.0976562);
}
#results .logEntry .row .rightFooter .host {
    min-width: 100px;
    display: inline-block;
    overflow: hidden;
}
#results .logEntry .row .rightFooter .divider {
    padding: 0px 16px;
    display: inline-block;
    color: #777;
}
#results .logEntry .row .rightFooter .label {
    color: #777;
    display: inline-block;
}
#results .logEntry .keyword {
    background-color: #D1EED1;
    padding: 0px 2px;
}

/* =============================================================================
   Stream Page
   ============================================================================= */
#streamContent #repositoryData {
    width: 200px;
}
#streamContent #severityData {
    width: 110px;
}
#streamContent #actionButton, #streamContent #clearButton {
    float: left;
    display: inline;
    margin-right: 10px;
    margin-top: 24px;
    width: 75px;
}
#streamContent #actionButton2, #streamContent #clearButton2 {
    display: inline;
    width: 75px;
}
#streamContent button span {
    padding: 3px 1em;
}
#streamContent #errorMessage {
    clear: both;
    padding:  20px;
    margin-top: 32px;
    margin-bottom: 1em;
}
#streamContent #bottombar {
    margin-top: 16px;
}

/* =============================================================================
   Search Page
   ========================================================================= */
#searchContent #repositoryData {
    width: 230px;
}
#searchContent #timespanData {
    width: 110px;
}
#searchContent #severityData {
    width: 110px;
}
#searchContent #keywordsData {
    width: 380px;
}
#searchContent #fromDateData {
    width: 101px;
}
#searchContent #fromTimeData {
    width: 100px;
}
#searchContent #toDateData {
    width: 101px;
}
#searchContent #toTimeData {
    width: 100px;
}
#searchContent #sourceData {
    width: 180px;
}
#searchContent #hostData {
    width: 180px;
}
#searchContent #conditionField {
    padding-top: 8px;
}
#searchContent #conditionData {
    width: 855px;
    height: 5em;
}
#searchContent #searchButton, #searchContent #advancedButton {
    float: left;
    display: inline;
    margin-right: 10px;
    margin-top: 10px;
}
#searchContent #workingImage {
    float: left;
    display: inline;
    margin-right: 10px;
    margin-top: 15px;
}
#searchContent #workingImage2 {
    margin-right: 10px;
    vertical-align:middle;
}
#searchContent button span {
    padding: 3px 1em;
}
#searchContent #errorMessage {
    clear: both;
    padding:  20px;
    margin-top: 32px;
    margin-bottom: 1em;
}
#searchContent #noRowsMessage {
    clear: both;
    margin-top: 32px;
    padding:  20px;
    margin-bottom: 1em;
}
#searchContent #bottombar {
    text-align: right;
    margin-top: 32px;
}


#searchDialog #dialogContainer {
    padding: 0px 5px;
}
#searchDialog #dialogTimestampData {
    width: 200px;
}
#searchDialog #dialogSeverityData {
    width: 85px;
}
#searchDialog #dialogSeverityData.error {
    background-color: #fddfde;
}
#searchDialog #dialogSeverityData.warning {
    background-color: #fdf5d9;
}
#searchDialog #dialogSourceData, #searchDialog #dialogHostData, #searchDialog #dialogDocumentIDData, #searchDialog #dialogSavedTimestampData {
    width: 308px;
}
#searchDialog #dialogMessageData {
    width: 635px;
    height: 8em;
}
#searchDialog #dialogKeywordsData {
    width: 635px;
    height: 5em;
}
#searchDialog #dialogFieldsData {
    width: 635px;
    height: 5em;
}
#searchDialog #dialogBottomBar{
    border-top: solid 1px #ddd;
    padding-top: 8px;
}
#searchDialog #dialogPreviousButton{
}
#searchDialog #dialogNextsButton{
}
#searchDialog #dialogDoneButton{
}

/* =============================================================================
   My Account
   ========================================================================= */



