body {
    background-color: #f4f1ec;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
}

/* =============================================================================
   Standard controls
   ========================================================================== */
input.text {
    padding: 1px 0;
}

input[type="text"], input[type="password"], textarea {
    border: 1px solid Gainsboro;
    padding: 5px;
    font: 99% helvetica,arial,freesans,sans-serif;
}

select {
    padding: 4px 4px;
    font: 1em helvetica,arial,freesans,sans-serif;
}

/* =============================================================================
   Header and footer
   ========================================================================== */
.headerBar {
    background-color: #476e8c;
    height: 50px;
}

/* =============================================================================
   Login Page
   ========================================================================== */
body.login {
    position: absolute;
    left: 50%;
    margin-left: -200px;
    width: 400px;
}

.login .header {
    margin-top: 200px;
    background-color: #356AA0;
    border-color: Gainsboro;
    border-style: solid;
    border-width: 1px 1px 1px;
    color: #FFFFFF;
    font-size: 1.4em;
    font-weight: bold;
    padding: 8px 18px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.7);
}

.login .content {
    background-color: #FFFFFF;
    border-color: WhiteSmoke Gainsboro Gainsboro Gainsboro  ;
    border-style: solid;
    border-width: 1px 1px 1px;
    overflow: hidden;
    padding: 20px;
}

.login label {
    color: #2F424E;
    cursor: text;
    display: inline-block;
    text-shadow: 0 -1px 0 rgba(100, 100, 100, 0.1);
}

.login input {
    margin: 4px 0px 16px 0px;
    width: 345px;
}

.login .content .error {
    padding:  0.7em;
    margin-bottom: 16px;
}

/* =============================================================================
   Standard Pages
   ========================================================================= */
body .standard {
}

.standard .header {
    background-color: #356AA0;
    border-color: Gainsboro;
    border-style: solid;
    border-width: 1px 1px 1px;
    color: #FFFFFF;
    height: 50px;
}

.standard .header h1 {
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.7);
    padding:  0 20px;
}

.standard .header .nav {
    float: right;
    margin-top: 16px;
}
.standard .header .nav ul, .standard .header .nav li {
    list-style: none outside none;
    margin: 0;
}
.standard .header .nav li {
    float: left;
    font-weight: bold;
    text-align: center;
    margin-right:  20px;
}
.standard .header .nav a {
    color: #FFFFFF;
    text-decoration: none;
    padding-bottom: 2px;
}
.standard .header .nav a:hover {
    border-bottom: 2px solid Gainsboro;
}
.standard .header .nav a.active {
    border-bottom: 2px solid #FABF4D;
}

.standard .divider {
    background-color: White;
    color: FireBrick;
    height: 25px;
}

.standard .divider .user {
    float: right;
    margin-top: 5px;
    margin-right: 20px;
    font-size: 0.85em;
}

.standard .divider .crumbs {
    float: left;
    margin-top: 3px;
    padding:  0 20px;
    font-weight:  bold;
}

.standard .footer {
    padding: 300px 20px 0px 20px;
    font-size: 0.8em;
    text-align: center;
}

.standard .content {
    padding: 0px 20px;
}


/* =============================================================================
   Stream Page
   ========================================================================= */

.content.stream .criteria {
    height: 50px;
}

.content.stream .criteria .field {
    float: left;
    display: inline;
    margin-right: 10px;
}

.content.stream .criteria .field label {
    font-weight: bold;
}

.content.stream .criteria .field #repositoryData {
    min-width: 200px;
}

.content.stream .criteria button {
    float: left;
    display: inline;
    margin-right: 10px;
    margin-top: 1.1em;
}
.content.stream .criteria button span {
    padding: 3px 1em;
}

.content.stream .error {
    clear: both;
    width: 500px;
    padding:  0.7em;
    margin-top: 16px;
    margin-bottom: 1em;
}

.content.stream .results {
    margin-top: 16px;
}

.content.stream .results table {
    width: 100%;
}
.content.stream .results th {
    border: DarkGray solid 1px;
    text-align: left;
    padding: 4px;
    background-color: #356AA0;
    color: white;
}
.content.stream .results td {
    border: Gainsboro solid 1px;
    text-align: left;
    padding: 4px;
    font-family: "Andale Mono", "Courier New", Courier, monospace;
    font-size: 0.85em;
}

.content.stream .results tr {
    background-color: white;
    color: black;
}

.content.stream .results tr.red {
    background-color: firebrick;
    color: white;
}

.content.stream .results tr.amber {
    background-color: gold;
    color: black;
}

.content.stream .bottomBar {
    margin-top: 16px;
}