
/*******************************************
 * General
 *******************************************/

.bold {
  font-weight: bold;
}

.sc-label-view.sc-huge-size {
	font-size: 24px;
	line-height: 30px;
}

.sc-view.box {
  border: 1px solid #999;
}

.safari .sc-text-field-view .border {
  -webkit-appearance: none;  /*override default value 'textfield'*/
  border: 1px solid #999;
}

.sc-label-view.sc-regular-size {
	font-size: 14px;
	line-height: 19px;
}

.sc-view select, .sc-view input, .sc-view textarea, .sc-view button
{
  font-size: 14px;
}

.sc-view.edit-box {
  border: 1px solid #999;
  background-color: #fff;
  color: #222;
}

.sc-label-view.success {
  font-size: 12px;
  height: 26px;
  line-height: 24px;
	font-weight: bold;
  color: #008000;
  background-color: #fffacd;
  border-color: #008000;
  border-style: solid;
  border-width: 1px;
  text-align: center;
  vertical-align: middle;
}

.sc-list-item-view.sc-regular-size {
  font-size: 14px;
  line-height: 19px;
}

/*******************************************
 * Login
 *******************************************/
.sc-view.login-box {
  border: 1px solid #999;
  background-color: #fff;
  color: #222;
}

.sc-view.login-box hr {
  border: 1px solid #999;
  background-color: #999;
}

/*******************************************
 * About
 *******************************************/
.sc-view .about {
  margin: 10px;
}

.sc-view .about .edit-box {
  padding: 20px;
  border: 1px solid #999;
}

.sc-view .about .inline {
  display: inline;
}