
/*******************************************
 * General
 *******************************************/

.bold {
  font-weight: bold;
}

.sc-label-view.sc-huge-size {
	font-size: 24px;
	line-height: 30px;
}

.safari .sc-text-field-view .border {
  -webkit-appearance: none;  /*override default value 'textfield'*/
  border: 1px solid #999;
}

.sc-label-view.sc-regular-size {
	font-size: 14px;
	line-height: 19px;
}

.sc-view select, .sc-view input, .sc-view textarea, .sc-view button {
  font-size: 14px;
}

/*******************************************
 * Focus borders and other attributes
 *******************************************/
.sc-view .sc-button-view.focus .sc-button-label {
  font-weight: bold;
}

.safari .sc-view .sc-button-view.sc-checkbox-view.focus .button {
  outline: auto 1px -webkit-focus-ring-color;
  outline-offset: 0px;
  margin: 1px;
}

.mozilla .sc-view .sc-button-view.sc-checkbox-view.focus .button {
  outline-color:-moz-mac-focusring;
  outline-offset:-5px;
  outline-style:solid;
  outline-width:3px;
}

.msie .sc-view .sc-button-view.sc-checkbox-view.focus .button {
  outline: 1px dotted;
}

/*******************************************
 * Table
 *******************************************/
.sc-view.table {
  border: 1px solid #999;
  background-color: #fff;
  color: #222;
}

.sc-view.table .sc-table-header label {
  font-weight: bold;
}

/*******************************************
 * Generic box around a div
 *******************************************/
.sc-view.box {
  border: 1px solid #999;
  background-color: #fff;
  color: #222;
}

/*******************************************
 * List box is a list view for menu
 *******************************************/
.sc-view.list-menu {
  border: 1px solid #999;
  background-color: #fff;
  color: #222;
}

.sc-view.list-menu .sc-outline {
  border-bottom: 1px solid #eee;
}

/*******************************************
 * Data item is a label-field combo.
 *******************************************/
.sc-view.data-item {
  border-bottom: 1px solid #999;
}

.sc-view.data-item .label {
  font-weight: bold;
}

.sc-view.data-item .label.help {
  font-size: 10px;
  font-weight: normal;
  line-height: 16px;
}

.sc-view.data-item .radio .sc-button-label {
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  padding-left: 4px;
}

.sc-view.data-item .radio .sc-button-label .help {
  font-size: 10px;
  font-weight: normal;
  line-height: 16px;
}

/*******************************************
 * Success message when records saved
 *******************************************/
.sc-label-view.success {
  font-size: 12px;
  height: 26px;
  line-height: 24px;
	font-weight: bold;
  color: #008000;
  background-color: #fffacd;
  border-color: #008000;
  border-style: solid;
  border-width: 1px;
  text-align: center;
  vertical-align: middle;
}

.sc-list-item-view.sc-regular-size {
  font-size: 14px;
  line-height: 19px;
}

/*******************************************
 * Login
 *******************************************/
.sc-view.login-box {
  border: 1px solid #999;
  background-color: #fff;
  color: #222;
}

.sc-view.login-box hr {
  border: 1px solid #999;
  background-color: #999;
}

/*******************************************
 * About
 *******************************************/
.sc-view .about {
  margin: 10px;
}

.sc-view .about .box {
  padding: 20px;
  border: 1px solid #999;
}

.sc-view .about .inline {
  display: inline;
}