
<div class="about">

  <h1 class="sc-label-view label sc-huge-size" style="padding-bottom: 5px;">About</h1>

  <div class="sc-view box" style="top: 45px; left: 10px; right: 10px; bottom: 10px;">

    <h1 class="sc-label-view label sc-large-size">Chililog</h1>
    <div class="sc-label-view label sc-regular-size">Version: {{#view Chililog.AboutVersionView}} {{value}} {{/view}}</div>
    <div class="sc-label-view label sc-regular-size">Build date: {{#view Chililog.AboutBuildTimestampView}} {{value}} {{/view}}</div>
    <div class="sc-label-view label sc-regular-size">Copyright &copy; 2011 Cinch Logic Pty Ltd.</div>

    <h1 class="sc-label-view label sc-large-size" style="padding-top: 30px;">Contact Us</h1>
    <div class="sc-label-view label sc-regular-size">Web Site: <a href="http://www.chililog.com/" target="_blank">www.chililog.com</a></div>
    <div class="sc-label-view label sc-regular-size">Source Code: <a href="https://github.com/chililog/chililog-server" target="_blank">github.com/chililog/chililog-server</a></div>
    <div class="sc-label-view label sc-regular-size">Issues: <a href="https://github.com/chililog/chililog-server/issues" target="_blank">github.com/chililog/chililog-server/issues</a></div>

  </div>

</div>
